* {
    margin: 0;
}

body {
    background: linear-gradient(0deg, rgba(119,119,119,1) 0%, rgba(0,0,0,1) 100%);
    height: 100vh;
}

header {
    background-color: #333333;
    color: #ffffff;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed; 
    width: 100%;
    top: 0; 
    z-index: 1000; 
    -webkit-box-shadow: 0px 17px 14px -12px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 17px 14px -12px rgba(66, 68, 90, 1);
    box-shadow: 0px 17px 14px -12px rgba(66, 68, 90, 1);
    border-bottom: solid 1px  #FFD700;
}

header img {
    width: 150px;
    height: 80px;
}


.loginContainer {
    margin: 20px 400px;
    padding: 0 90px 49px;
    border: 2px solid white;
    border-radius: 15px;
}

h1 {
    color: white;
    text-align: center;
    padding-top: 40px;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
    display: flex;
    gap: 20px;
}

.input {
    display: flex;
    align-items: center;
    width: 400px;
    height: 60px;
    background: #eaeaea;
    border-radius: 6px;
}

.input img {
    margin: 0 30px;
}

.input input {
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 15px;
}

.submit {
    width: 150px;
    height: 39px;
    color: #fff;
    background: #afafaf;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    border: none;
}

.submit:hover {
    background-color: #ffffff;
    color: #000000;
}

.error-message {
    color: white;
}